.icon{
    display: flex;
    justify-content: center;

    margin:20px auto 10px auto;
}
.icon>i{
    font-size: 30px;
    margin:10px;
    border-radius: 5px 5px 5px 5px;
    width:50px;
    box-sizing: border-box;
    /* color:brown */
}
.icon>i:hover{
    cursor: pointer;
    color: brown;
}
.Grid_View{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    margin-left: 10rem;
    margin-top: 40px;
    
}
.list_View{
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto;
    margin-left: 10rem;
    margin-top: 40px;
}

.Grid_View:hover{
    cursor: pointer;
}
.List_View>p{
    display: flex;
}
